p {
    color:aliceblue
}
#link{
    text-decoration-line: none;
    color: aliceblue;
}
#link:hover{
    color:aquamarine;
    transition-duration: 0.5s;
}
h1 {
    color:aliceblue;
    text-align: center;
    margin-top: 25rem;    
}
#title {
    color: aliceblue;
}
